.banner {
  position: relative;
  height: 51.3vw;
  background-image: url('../img/hero-base.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  // border: 1px solid #000;
}

.logo {
  position: absolute;
  top: 10.8vw;
  left: 5.1vw;
  width: 21.3vw;
  height: 5.4vw;

  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}

.slogan {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 22.2vw;
  left: 5.1vw;
  color: $white;

  @media (min-width: map-get($grid-breakpoints, md)) {
    font-size: 2em;
  }
  @media (min-width: map-get($grid-breakpoints, xl)) {
    font-size: 2.5em;
  }
}
