.volet{
  height: 100vh;
  width: 100%;
  background-color: $black-russian;
  position: absolute;
  z-index: 2;
}
.logo-black {
    position: absolute;
    top: 50vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 21.3vw;
    height: 5.4vw;
    background-image: url('../img/logo-black.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all 1s;
    z-index: 3;
}
.banner {
    position: relative;
    height: 51.3vw;
    background-image: url('../img/hero-base.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo {
    position: absolute;
    top: 10.8vw;
    left: 5.1vw;
    width: 21.3vw;
    height: 5.4vw;
    opacity: 0;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all 1s;
}


.slogan {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 22.2vw;
    left: 5.1vw;
    color: $white;
    opacity: 0;
    transition: all 1s;
    transform: translateX(-10%);
    @media (min-width: map-get($grid-breakpoints, md)) {
        font-size: 2em;
    }
    @media (min-width: map-get($grid-breakpoints,
    xl)) {
        font-size: 2.5em;
    }
}
