body {
  height: 100vh;
  background-color: red;
}

/* --- Fonts --- */

@font-face {
    font-family: 'Museo';
    src: url('../fonts/museo/Museo700-Regular-webfont.woff2') format('woff2'),
         url('../fonts/museo/Museo700-Regular-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/museo/Museo500-Regular-webfont.woff2') format('woff2'),
         url('../fonts/museo/Museo500-Regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/museo/Museo300-Regular-webfont.woff2') format('woff2'),
         url('../fonts/museo/Museo300-Regular-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}
