/*------- Chapter 1 ------*/

.chap-1 {
  background-color: $white;
}

.chap-1-carousel-display {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.chap-1-carousel-pic-display {
  position: relative;
  width: $chap1-carousel-pic-display-width;
  max-width: $chap1-carousel-pic-display-max-width;
  height: 0.78 * $chap1-carousel-pic-display-width;
  max-height: 0.78 * $chap1-carousel-pic-display-max-width;
  background-image: url('https://picsum.photos/1300/280/?random');
  background-size: cover;
}

.chap-1-carousel-desc-display {
  display: flex;
  align-items: center;
  position: absolute;
  top: 75%;
  left: -5%;
  @include size(170px);
  padding-right: map-get($spacers, 3);
  padding-left: map-get($spacers, 3);

  @media (min-width: map-get($grid-breakpoints, md)) {
    top: 56.5%;
    left: -11.54%;
    @include size(250px);
    padding: 0;
  }

  background-color: $white;

  > p {
    text-align: center;
    color: $main-color;
  }

  box-shadow: 0 2px 50px $light-grey;
}

.chap-1-carousel-arrow {
  display: flex;
  font-size: 5em;
  font-weight: 100;
  line-height: 1em;
  color: $main-color;
  @media (min-width: map-get($grid-breakpoints, lg)) {
   padding-right: map-get($spacers, 5);
   padding-left: map-get($spacers, 5);
 }
}

.chap-1-carousel-thumbnails-container {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  .js & {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.chap-1-carousel-thumbnails {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
}

.carousel-thumbnail-pic {
  width: 20vw;
  height: 13.5vw;
  background-image: url('https://picsum.photos/1300/280/?random');
  background-size: cover;
}

.carousel-thumbnail-link {
  padding: 0 !important;
  margin: 0 !important;
  > svg {
    padding: 0;
    margin: 0;
    width: 65px;
    height: 12px;
    fill: $main-color;
    border: none !important;
  }
}


